@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome  Doctor </h1>

<div class="text-center my-4">
    <p class="lead">Manage your staff and perform administrative tasks efficiently.</p>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <a href="/ViewBookAppointments/GetAppointmentsByDoctorId/" class="btn btn-primary btn-lg">
                Doctor Management
            </a>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a href="/Home/Index" class="btn btn-danger">Back to List</a>
</div>
